header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.container {
    padding-top: 5em;
}

.sidenav {
    padding-right: 0.5em;
    width: 10%;
    font-size: 12px;;
}

ul:not(.browser-default) {
    padding-left: 0.5em;
}

.wrapper {
    float: right;
    width: 90%;
    height: 90%;
}

#additionalOpts {
    /* vertical-align: bottom; */
    bottom: 0;
    padding-top: 3em;
    padding-bottom: 5em;

}

nav {
    background-color: #1EB8C4;
}

.btn {
    background-color: #0800ff;
}

.btn:focus {
    background-color: #050096;
}

.btn:hover {
    background-color: #5c57ff !important;
}

.treeImg {
    max-width: 100%;
    max-height: 100%;
}

#geneTreeLogo {
    display: inline-block;
}

#navbar {
    height: 10em;
    width: 100%;
    position: relative;
}
