<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='materialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <nav id="navbar">
        <a href="#" class="brand-logo center" id="navA"><img src="/static/img/gt150.png" id="geneTreeLogo" /></a>
    </nav>
    <div class="container">
        <h3 class="center-align">About GeneTree</h3>
        <p class="flow-text">
            Here at GeneTree our mission is to help healthcare professionals diagnose rare genetic disorders. Our
            solution is generating family trees. Family trees are useful for this because they allow analysts to use
            family medical history effectively. Family trees are also useful for learning your family history or finding
            long lost relatives.
        </p>
        <div class="fileUpload">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Select Family Data</span>
                    <input type="file" name="familydata" id="famdata">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Famliy data">
                </div>
            </div>
            <a href="/pedigrees" class="btn btn-large">Get Your GeneTrees</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>